body {
    font-family: "Avenir Next";
  }
.header{
    background-color: cornsilk;
    height: 90px; 
    padding-left: 50px;
    padding-right:50px;
}
button{
font-size: 20px;
 margin:10px 30px;
 border-radius: 50px;
 background-color: darkgray;
 width:70px;
 height:70px

}
.flex-con{
    display:flex;
    justify-content: space-between;
}
.flex-3 button{
    font-size:  40px;
}
.flex-4 button{
    font-size:40px;
}
.flex-5 button{
    font-size: 14px;
}
.flex-6 button{
    font-size:50px;
    padding:6px 3px; 
}
.main{
    height:90vh;
    background-color: white;
    display:flex;
    justify-content: space-between;
}
.button{
    margin-left:50px ;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:30%;
    
}
.white button{
    background-color: white;
}
.red button{
    background-color: red;
}
.blue button{
    background-color: blue;
}
.yellow button{
    background-color: yellow;
}
.green button{
    background-color: greenyellow;
}
.black button{
    background-color: black;
}
.button_1{
    margin-right: 40%;
    margin-left: 8px;
}

.s{
    margin-top: 30px; 
    margin-left:41px
}
.m{
    margin-top: 30px;
    margin-left: 36px; 
}
.l{
    margin-top: 30px;
    margin-left: 31px;
}
.s button{
    width:20px;
    height:20px;
    background-color: black;
}
.m button{
    width:30px;
    height:30px;
    background-color: black;
    
}
.l button{
    width:40px;
    height:40px;
    background-color: black;
    
}
p{
    display: flex;
    justify-content: center;
}
.draft_save{
    margin-top: 10%;
    margin-right: 20%;
    margin-left:-35%;
    background-color: cornsilk;
    width: 300px;
    height:150px;
    border-radius: 10px;
    
   
}
.no_yes{
    display: flex;
    justify-content: space-between;
}

.no_yes button{
    border-radius: 10px;
    width: 80px;
    height: 50px;
}

.button_2{
    margin-right: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-7{
    margin-top:180px;
    margin-bottom:30px;
}
.flex-7 button{
    font-size: 45px;
    
}
.login button{
 font-size: 13px;
}
.help button{
    font-size: 15px;
}
.home button{
    font-size: 15px;
}
.save button{
    font-size: 17px;
}