<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MediaPipe -->
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
    <!-- ONNX -->
    <script src="https://cdn.jsdelivr.net/npm/onnxjs@0.1.7/dist/onnx.min.js" crossorigin="anonymous"></script>
    <!-- ndarray -->
    <script src="../static/script/ndarray-browser-min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    <link rel="stylesheet" href="../static/style/draw.css">
    <title>HandDraw</title>
</head>

<body>
    <header class="header">
        <nav class="flex-con menu">
            <div class="menu-color">
                <button class="button-color">
                    色
                </button>
                <div class="button-color-hide">
                    <div class="white"><button></button></div>
                    <div class="red"><button></button></div>
                    <div class="blue"><button></button></div>
                    <div class="yellow"><button></button></div>
                    <div class="green"><button></button></div>
                    <div class="black"><button></button></div>
                </div>
            </div>
            <div class="menu-thickness">
                <button class="button-thickness">
                    太さ
                </button>
                <div class="button-thickness-hide">
                    <div class="s"><button></button></div>
                    <div class="m"><button></button></div>
                    <div class="l"><button></button></div>
                </div>
            </div>
            <div class="menu-back">
                <button>
                    <img src="../static/img/left.png" 　width="40px" ; height="40px" ;>
                </button>
            </div>
            <div class="menu-forward">
                <button>
                    <img src="../static/img/right.png" width="40px" ; height="40px" ;>
                </button>
            </div>
            <div class="menu-clear">
                <button>
                    クリア
                </button>
            </div>

            <div class="menu-touka">
                <button>
                    透過
                </button>
            </div>

            <div class="menu-setting">
                <button class="button-setting">
                    <img src="../static/img/haguruma.png" width="50px" ; height="50px" ;>
                </button>
                <div class="button-setting-hide">
                    <div class="logout"><button>ログアウト</button></div>
                    <div class="help"><button>ヘルプ</button></div>
                    <div class="home"><button>ホーム</button></div>
                    <!-- <div class="save"><button>保存</button></div>
                    <div class=flex-7><button>＋</button> </div> -->
                </div>
            </div>
        </nav>
    </header>


    <main class="main">
        <!-- <div class="draft_save">
            <p>下書きを保存しますか？</p>
            <div class="no_yes">
                <div class="no"><button>いいえ</button></div>
                <div class="yes"><button>はい</button></div>
            </div>
        </div> -->
        <div class="container">
            <video class="input_video" style="display: none;"></video>
            <canvas class="operation_canvas"></canvas>
        </div>
        <canvas id="draw_canvas"></canvas>
        <canvas id="hand_canvas"></canvas>
    </main>
    <script>pictureID = {{ picture_id | tojson }};</script>
    <script src="../static/script/script.js" type="module"></script>
    <script src="../static/script/mediapipe.js" type="module"></script>
</body>

</html>