<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>hand_draw</title>
    <link rel="stylesheet" href="../static/style/help.css">

</head>

<body>
    <h1>Hand Draw操作方法</h1>
    <h2>
        <div class="flex-con">
            <div class="pic_frame">
                <div class="flex-1">
                    <img src="../static/img/finger01.jpg" width="200px" ; height="250px" ;>
                    <p>カーソルの移動</p>
                </div>
            </div>
            <div class="pic_frame">
                <div class="flex-2">
                    <img src="../static/img/finger02.jpg" width="250px" ; height="300px" ;>
                    <p> </p>　
                    <p>線の編集</p>
                    <p>ボタンのタッチ</p>
                </div>
            </div>
            <div class="pic_frame">
                <div class="flex-3"></div>
                <img src="../static/img/finger03.jpg" width="200px" ; height="250px" ;>
                <p>消しゴム</p>
            </div>
        </div>
    </h2>
    <input type="submit" value="戻る" />
    </div>
    </div>
</body>

</html>