<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>hand_draw</title>
        <link rel="stylesheet" href="../static/style/help.css">
        
    </head>
   
    <body>

        <h1>お絵描きアプリ操作方法</h1>
        <h2>
           

                <div class="pic_frame">
                
                <img src="https://th.bing.com/th/id/R.37289c22f00ffe0b454e93930f462098?rik=a9t2O4Ums%2f0asw&riu=http%3a%2f%2fwww.silhouette-ac.com%2fsozai%2fm%2f143%2f00%2f143006m.jpg&ehk=VQ2JTMUIKAPccTbUL1G3hWrefss4otT0WYYeByfhDTQ%3d&risl=&pid=ImgRaw" 
                width="250px";
                height="250px";>
                <p>カーソルの移動</p>
                </div>
            <div class="pic_frame">
                   <img src="https://cdn0.iconfinder.com/data/icons/touch-gesture-01/100/34-512.png" 
                   width="250px";
                   height="250px";>
                <p>線の編集</p>
                <p>ボタンのタッチ</p>
            </div>
            <div class="pic_frame">
                <img src="https://th.bing.com/th/id/OIP.4zFSdQmAZwnWrLvNN4HyXwAAAA?pid=ImgDet&w=164&h=164&c=7&dpr=1.5"
                width="250px";
                height="250px"; >
                <p>消しゴム</p>

            </div>
        
           
            
        </h2>
        <input type="submit" value="戻る" />
      </div>  
        </body>
        </html>

