<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    <link rel="stylesheet" href="../static/style/help.css">
    <title>HandDraw | help</title>
</head>

<body>
    <h1>Hand Draw操作方法</h1>
    <h2>
        <div class="flex-con">
            <div class="pic_frame">
                <div class="flex-1">
                    <img src="../static/img/finger01.jpg" width="200px" ; height="250px" ;>
                    <p>カーソルの移動</p>
                </div>
            </div>
            <div class="pic_frame">
                <div class="flex-2">
                    <img src="../static/img/finger02.jpg" width="250px" ; height="300px" ;>
                    <p> </p>　
                    <p>線の編集</p>
                    <p>ボタンのタッチ</p>
                </div>
            </div>
            <div class="pic_frame">
                <div class="flex-3"></div>
                <img src="../static/img/finger03.jpg" width="200px" ; height="250px" ;>
                <p>消しゴム</p>
            </div>
        </div>
    </h2>
    <input type="submit" value="戻る" onclick="location.href = './draw';" />
    </div>
    </div>
    <script src="../static/script/script.js" type="module"></script>
</body>

</html>