<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    <link rel="stylesheet" href="../static/style/home.css">
    <title>HandDraw | home</title>
</head>

<body>
    <table style="width:100%;
        word-break:break-all;">

        <div class="flex-con">
            <div class="flex-1">
                <form action="/draw" method="POST">
                    <button class="btn" type="submit" name="name" value="0" onclick="location.href = '/draw';">
                        ＋
                    </button>
                    <p>新規作成</p>
                </form>
            </div>
            {% for i in user %}
            <div class=" flex-2">
                <form action="/draw" method="POST">
                    <button class="btn" type="submit" name="name" value="{{i.file_id}}"
                        onclick="location.href = '/draw';">
                        <img src="../pictures/{{i.file_id}}.jpg">
                    </button>
                    <p>{{i.created_at}}</p>
            </div>

        </div>
        {% endfor %}
        <script src="../static/script/script.js" type="module"></script>

</body>

</html>