<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>hand_draw</title>
        <link rel="stylesheet" href="../static/style/home.css">
        
    </head>
    
    <body>
        <table style="width:100%;
        word-break:break-all;">
        
            <div class="flex-con">
                <div class="flex-1">
                    <button class="btn">
                        ＋
                    </button>
                    <p>新規作成</p>
                </div>

                <div class="flex-2">
                        <h1></h1>
                        <p>保存している画像</p>
                </div> 

                <div class="flex-3">
                        <h1><span></span></h1>
                        
                </div>
                
            </div>

             <input type="submit" value="戻る" />
                </body> 
                
                </html>
