<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hand_draw</title>
    <link rel="stylesheet" href="../static/style/stylesheet.css">
</head>

<body>
    <header class="header">
        <nav class="flex-con menu">
            <div class="menu-color">
                <button class="button-color">
                    色
                </button>
                <div class="button-color-hide">
                    <div class="white"><button></button></div>
                    <div class="red"><button></button></div>
                    <div class="blue"><button></button></div>
                    <div class="yellow"><button></button></div>
                    <div class="green"><button></button></div>
                    <div class="black"><button></button></div>
                </div>
            </div>
            <div class="menu-thickness">
                <button class="button-thickness">
                    太さ
                </button>
                <div class="button-thickness-hide">
                    <div class="s"><button></button></div>
                    <div class="m"><button></button></div>
                    <div class="l"><button></button></div>
                </div>
            </div>
            <div class="menu-back">
                <button>
                    ⇦
                </button>
            </div>
            <div class="menu-forward">
                <button>
                    ⇨
                </button>
            </div>
            <div class="menu-clear">
                <button>
                    クリア
                </button>
            </div>
            <div class="menu-setting">
                <button>
                    ⚙
                </button>
            </div>
        </nav>
    </header>


    <main class="main">
        <div class="draft_save">
            <p>下書きを保存しますか？</p>
            <div class="no_yes">
                <div class="no"><button>いいえ</button></div>
                <div class="yes"><button>はい</button></div>
            </div>
        </div>
        <div class="button_2">
            <div class="login"><button>ログイン</button></div>
            <div class="help"><button>ヘルプ</button></div>
            <div class="home"><button>ホーム</button></div>
            <div class="save"><button>保存</button></div>
            <div class=flex-7><button>＋</button> </div>
        </div>
    </main>
</body>

</html>