<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>hand_draw</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>
        <div class="header">
            <div class="flex-con">
                <div class="flex-1">
                    <button>
                        色
                    </button>
                </div>
                <div class="flex-2">
                    <button>
                    太さ
                    </button>
                </div>
                <div class="flex-3">
                    <button>
                        ⇦
                    </button>
                </div>
                <div class="flex-4">
                    <button>
                        ⇨
                    </button>
                </div>
                <div class="flex-5">
                    <button>
                    クリア
                    </button>
                </div>
                <div class="flex-6">
                   
                    <button>
                     ⚙
                    </button>
                </div>
            </div>
            
        </div>

        <div class="main">
            <div class=flex-7>
                <button>＋</button>
            </div>
        </div>
        
    </body>
</html>