<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
    <link rel="stylesheet" href="../static/style/login_form.css">
    <title>HandDraw | login</title>
</head>

<body>
    <main>
        <h1>Hand Draw</h1>
        <!-- The surrounding HTML is left untouched by FirebaseUI.
            Your app may use that space for branding, controls and other customizations.-->
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
    </main>
    <script src="../static/script/script.js" type="module"></script>
</body>

</html>